.wallet_box {
  padding: 26px;
  -webkit-box-shadow: 0 0 10px 0 hsla(0, 0%, 53.3%, 0.14);
  box-shadow: 0 0 10px 0 hsla(0, 0%, 53.3%, 0.14);

  &:nth-child(1) {
    margin-right: 15px;
  }

  .title {
    display: flex;
    justify-content: space-between;
    height: 54px;
    padding: 0 0 22px 0;

    .left {
      span {
        &.help {
          color: #00b0b5;
          padding: 0 0 0 50px;
          cursor: pointer;
        }
      }
    }
  }

  .wallet_content {
    display: flex;
    justify-content: space-around;

    .item {
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 46%;
      height: 108px;
      background: #fff;
      -webkit-box-shadow: 0 0 10px 0 hsla(0, 0%, 53.3%, 0.14);
      box-shadow: 0 0 10px 0 hsla(0, 0%, 53.3%, 0.14);
      border-radius: 4px;
      margin: 0 10px;
      overflow: hidden;

      img {
        padding: 0 6px 0 0;
      }

      div {
        img {
          position: relative;
          left: 5px;
          top: 0px;
          cursor: pointer;
        }
      }
    }
  }
}

.wallet_search_form {
  display: flex;
  width: 100%;
  padding-top: 50px;

  :global {
    .ant-col-4 {
      button {
        margin-right: 8px;
      }
    }
  }
}

.bank_item {
  display: flex;
  align-items: center;
  margin: 3px 0;
  padding: 8px 15px;
  background-color: #fff2ea;

  div {
    padding-left: 10px;

    span {
      display: block;
    }
  }
}

.funds_content {
  .title {
    color: rgb(145, 152, 162);
    line-height: 30px;
    height: 30px;
  }

  .item {
    margin-left: 7px;
    line-height: 36px;
    -webkit-box-flex: 2.2;
    -ms-flex: 2.2;
    flex: 2.2;
    font-size: 16px;
    font-family: Source Han Sans CN;
    color: #8091a5;
    white-space: nowrap;
    input {
      width: 50%;
      margin-left: 10px;
    }
    span {
      -webkit-box-flex: 7.8;
      -ms-flex: 7.8;
      flex: 7.8;
      font-size: 14px;
      line-height: 26px;
      margin-left: 10px;
    }
  }

  .tips {
    color: rgb(247, 127, 31);
    font-size: 12px;
    text-align: center;
    padding-bottom: 5px;
  }

  .tips_on {
    color: rgb(144, 147, 153);
    font-size: 12px;
    text-align: center;
  }
}
